{% extends 'base.html' %}
{% block content %}
<main id="main">
    <div  class="demo">
        <a href="{{ url_for('routes.index') }}" class = "btn btn-default" > Home  </a>
        <a href="{{ url_for('authentication.login') }}" class = "btn btn-default"  >Login</a>
    </div>
    <div class="formwrapper">
        <form class="form-group" method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="form-group">{{ form.user_name.label }} {{ form.user_name(class="form-control") }}
                {% if form.user_name.errors or user_name_error_message is not none %}
                    <ul class="errors">
                        {% if user_name_error_message is not none %}
                            <p>
                                {{ user_name_error_message }}
                            </p>
                        {% endif %}
                        {% for error in form.user_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">{{ form.password.label }} {{ form.password(class="form-control") }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <p>
                                {{ password_error_message }}
                            </p>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">{{ form.confirmpassword.label }} {{ form.confirmpassword(class="form-control") }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <p>
                                {{ password_error_message }}
                            </p>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
            {{ form.FirstName.label }} 
            {{ form.FirstName(class="form-control") }}
                {{ form.LastName.label }} 
            {{ form.LastName(class="form-control") }}
            </div>

            <div class="form-group">
            {{ form.email.label }} 
            {{ form.email(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-default")  }}
        </form>
    </div>

<style>
.demo{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
</style>

</main>
{% endblock %}