{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
    <div  class="demo">
        <a href="{{ url_for('routes.index') }}" class = "btn btn-default" > Home  </a>
        {% if session.user_name == NULL %}
            <div>
                <a href="{{ url_for('authentication.register') }}" class = "btn btn-default"  > Sign Up </a>
            </div>
            <div>
                <a href="{{ url_for('authentication.login') }}" class = "btn btn-default"  >Login</a>
            </div>
        {% else %}
            <div>
                <a href="{{ url_for('routes.home') }}" class = "btn btn-default"  >Welcome: {{ session.user_name }}</a>
            </div>
        {% endif %}
    </div>

    <div>
    <h2>Search Result for Artist: {{field}}</h2>
            <table class="table table-striped table-hover table-responsive">
            <thead>
            </thead>
                <tbody>
                {% for row in resultlist %}
                <tr>
                    <td>Name:</td>
                    <td><a href="/searchartist?artistid={{row.artistid}}" >{{row.name}}</td>
                </tr>
                <tr>
                    <td>Date Of Birth:</a></td>
                    <td>{{row.dob}}</td>
                </tr>  
                <tr>
                    <td>Nationality:</td>
                    <td>{{row.nationality}}</td>
                </tr>  
                {% endfor %}
                </tbody>
            </table>
    </div>

<style>
.t-center{      
    position: absolute;

    top:30%;
    left:30%;
}

.demo{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}

</style>

{% endblock %}